:root {
    --red: #f9032f;
    --purple : #6a0dad;
    --black: #000000;
    --white: #ffffff;   
}

*{
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }
}
.navbar {
    background: var(--black);
    height: 60px;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar__logo{
    color: var(--white);
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1.5rem;
}


.navbar__link{
    color: var(--white);
    text-decoration: none;
    padding: 0rem 1rem;
}

.navbar__link:hover{
    color: var(--red)
}

@media screen and (max-width: 768px){
    body.active{
            overflow-y: hidden;
            overflow-x: hidden;
    }

    .navbar__link{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.navbar__menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
    position: absolute;
    width: 100%;
    top: -1000px;
}

.navbar__menu.active {
    top: 100%;
    opacity: 1;
    z-index: 99;
    height: 100vh;
    font-size: 1.5rem;
    background: var(--black);

}
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--white); 
        display: block;
        cursor: pointer;
    }
#mobile-menu {
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translate(5%, 20%);
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
    }

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    }

#mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

/* Hero Section */
.hero {
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./images/sky_view_updated.jpg');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    /* padding: 0.5rem calc((100vw - 1200px) / 2); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero_content{
    color: var(--white);
    padding: 3rem 1rem;
    line-height: 1;
}

.hero_content h1{
    font-size: clamp(2rem, 8vw, 7rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.hero_content p{
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: 3rem;
}

.button{
    padding: 1rem 3rem;
    border: none;
    background-color: var(--red);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
    text-decoration: none;
    border-radius: 4px;
}

.button:hover{
    background-color: var(--purple);
}

/* About Me Section */

